<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# This allows you to redirect old urls to the homepage.
Redirect 301 /artistpage.php /
Redirect 301 /releaseschedule /
Redirect 301 /tour /
Redirect 301 /help /