
/* Structure
-------------------------------------------------------------- */
/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after,
header:before,
header:after,
#main:before,
#main:after,
.primary:before,
.primary:after,
.secondary:before,
.secondary:after,
.footer-wrapper:before,
.footer-wrapper:after {
    content:"";
    display:table;
}
body:after,
#page:after,
header:after,
#main:after,
#secondary:after,
.footer-wrapper:after {
    clear:both;
}
body,
#page,
header,
#main,
#secondary,
.footer-wrapper {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: "Helvetica Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-family: "Helvetica-Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 62.5%;
    line-height: 1;
    color: #000;
    position: relative;
}

#page {
    width: 100%;
    max-width:1200px;
	margin:0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
    margin-bottom: -158px; /* the bottom margin is the negative value of the footer's height */;
	font-size:1.5em;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

footer, .push {
    height: 158px; /* .push must be the same height as .footer */
    position: relative;
}

.push {
    width: 100%;
    overflow: hidden; /*clearfix*/
    z-index: -1;
}

footer {
    z-index: 5;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
    display: inline;
    float: left;
}
.alignright {
    display: inline;
    float: right;
}
.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
    color: #ED5FA6;
    text-decoration: none;
}

a:active, a:hover {
    color: #000;
    text-decoration: none;
}


/* Headers
-------------------------------------------------------------- */
h3, h4, h5 {
    font-weight: normal;
}

h2 {
	font-size:1.8em;
	text-transform:uppercase;
	margin-bottom:10px;
}

header {
	margin:10px 0 30px;
}

nav {
	line-height:1.2;
	margin-bottom:20px;
	text-align:center;
}
nav li {
	margin-right:20px;
	display: inline;
}

#logo {
	text-align:center;
	font-size:2em;
}


/* Main Body
-------------------------------------------------------------- */
body.home .primary {
	filter: alpha(opacity=0);
	opacity: 0;
}

ul#filters,
.artists,
.news {
	width:100%;
	margin-bottom:20px;
	float:left;
}

ul#filters li {
	margin-right:20px;
	display:inline;
	font-weight:bold;
}

ul#filters li a.active {
	color:#000;
}

.artists .artist {
	position:relative;
	float:left;
	overflow:hidden; /*clearfix*/
}

.artists .artist a:hover {
	color:#FFF;
}

.artists .artist p {
	line-height:1.2;
	position:absolute;
	bottom:0;
	text-align:center;
	background:rgba(0,0,0,0.5);
	padding:20px;
}

.news .news-post {
	margin-bottom:10px;
}

.news .news-post .title {
	font-weight:bold;
}

/* Artist Detail Page
-------------------------------------------------------------- */
.social-icon {
	background:#CCC;
	width:20px;
	height:20px;
	margin:0 10px 10px 0;
	float:left;
}

body.single-artist .tour { /* keep this hidden until tour dates available */
	display:none;
}

/* Upcoming Releases Page
-------------------------------------------------------------- */
.albums {
	width: 100%;
	overflow:hidden; /*clearfix*/
	margin-bottom:20px;
}

.albums .album {
	position:relative;
	float:left;
}

.albums .album a:hover {
	color:#FFF;
}

.albums .album p {
	line-height:1.2;
	position:absolute;
	bottom:0;
	text-align:center;
	background:rgba(0,0,0,0.5);
	padding:20px;
}

.single .albums .album p {
	text-align:left;
	position:relative;
	padding:0;
	background:none;
}

.albums .album p span {
	display:block;
}

/* Footer
-------------------------------------------------------------- */
footer {
	width:100%;
	text-align: center;
	background:#000;
	color:#FFF;
}

.footer-wrapper {
    max-width:1200px;
	margin:0 auto;
	padding: 20px 0;
}