/*--------------------------------------------------------------
   Black Day Creative / NYC / Ira Bronson
   www.blackdaycreative.com
   May 7, 2014
-------------------------------------------------------------- */

/*Clearfixing main elements*/
body:before,
body:after,
#page:before,
#page:after,
header:before,
header:after,
#main:before,
#main:after,
.primary:before,
.primary:after,
.secondary:before,
.secondary:after,
.footer-wrapper:before,
.footer-wrapper:after {
  content:"";
  display:table;
}
body:after,
#page:after,
header:after,
#main:after,
#secondary:after,
.footer-wrapper:after {
  clear:both;
}
body,
#page,
header,
#main,
#secondary,
.footer-wrapper {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  background: #f3f3f3;
  font-family: 'Open Sans', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 62.5%;
  font-weight: 600;
  letter-spacing: -.3px;
  line-height: 1.8;
  color: #444;
  position: relative;
}

p {
  margin-bottom: 30px;
}

::-moz-selection {
  background: rgba(224, 65, 145, 0.99);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: rgba(224, 65, 145, 0.99);
  color: #fff;
  text-shadow: none;
}

#page {
  width: 100%;
  margin:0 auto;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
  margin-bottom: -436px; /* the bottom margin is the negative value of the footer's height */;
  font-size:1.5em;
}

body.home #page {
  margin-bottom: -616px; /* the bottom margin is the negative value of the footer's height */;
}

/*
Sticky Footer by Ryan Fait
http://ryanfait.com/
*/

footer, .push {
  height: 436px; /* .push must be the same height as footer */
  position: relative;
}


@media (min-width: 767px) {
  body.home footer {
    position: fixed;
    bottom: 0;
    height: 0;
    z-index: 100;
    -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
    -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
    -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
    -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
    transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  }
  
  footer.footerup {
    height: 436px !important;
  }

  body.home .push {
    height: 596px !important; /* .push must be the same height as footer */
  }

  #news.footerup {
    bottom: 436px !important;
  }

}

.push {
  width: 100%;
  overflow: hidden; /*clearfix*/
  z-index: -1;
}

footer {
  z-index: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
}
.alignright {
  display: inline;
  float: right;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Links
-------------------------------------------------------------- */
a, a:link, a:visited {
  color: #de408f;
  text-decoration: none;
}

a:active, a:hover {
  background: rgba(153, 153, 153, 0.25);	
}


/* Headings
-------------------------------------------------------------- */
h2,h3,h4,h5 {
  color: #404040;
	font:900 1.65em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	letter-spacing:-1px;
	margin-bottom:55px;
	text-transform:uppercase;
}

h3 {
	font:900 1.35em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	margin-bottom:35px;
}

.artist-info h3, #news h3 {
  color: #ddd;
}

#news h3 {
  margin-bottom: 30px;
}

h4 {
	font:900 1em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	margin-bottom:30px;
}

.artist-featured h3 {
  margin-bottom:20px;
}

/* Header, logo and Nav
-------------------------------------------------------------- */
header {
  background: #f3f3f3;
  /*background: rgba(243, 243, 243, 0.97);*/
  border-bottom:1px solid #dadada;
  padding-top: 60px;
  position: fixed;
  width: 100%;
  z-index: 98;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

header .section-inner {
  height: 80px;
  margin-bottom: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

header.scrolled {
  padding-top: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

header.scrolled .section-inner {
  height: 43px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

header.scrolled .section-inner.nav-expanded {
  height: 75px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

#logo {
  float: left;
	font-size:2em;
}

#logo a {
  background: url('../images/images-icons-sprite.svg') no-repeat left top;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 50px;
  width: 300px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

.no-svg #logo a {
  background: url('../images/images-icons-sprite.png') no-repeat left top;
}

.no-touch header.scrolled #logo a {
  width: 265px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

/* Nav
------- */
#nav-trigger {
  display: none;
}

nav {
  float: right;
  font: 900 14px/1 'Maven Pro', 'sans-serif';
  height: 17px;
  letter-spacing: -1px;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: height 0.1s linear;
  -moz-transition: height 0.1s linear;
  -o-transition: height 0.1s linear; 
  transition: height 0.1s linear;
}

nav.nav-expanded {
  height: 80px;
}

nav li {
	margin-left:35px;
	display: inline;
}

nav li:first-child {
	margin-left:0;
}

nav li a:link, nav li a:visited, nav li a:active {
  color: #b4b4b4;
}

nav li a:hover,
nav li.current-menu-item > a,
nav li.current-menu-parent > a,
body.artists nav li.menu-item-has-children > a,
body.single-artist nav li.menu-item-has-children > a {
  color: #333;
}

nav li a:hover {
  background: none;
}

nav li.menu-item-has-children > a {
  background: url('../images/images-icons-sprite.svg') no-repeat right -243px;
  padding-right: 15px;
}

nav li.menu-item-has-children > a:hover,
nav li.current-menu-ancestor > a,
body.artists nav li.menu-item-has-children > a,
body.single-artist nav li.menu-item-has-children > a {
  background-position: right -303px;
}

.no-svg nav li.menu-item-has-children > a {
  background: url('../images/images-icons-sprite.png') no-repeat right -243px;
}

.sub-menu {
  left: 77px;
  padding: 10px 0;
  position: absolute;
  top: 10px;
}

.sub-menu li {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  margin-left: 0;
}


/* Structure
-------------------------------------------------------------- */
#main {
  position: relative;
  margin-top: 215px;
  z-index: 1;
}

.col-2 {
  float: left;
  margin-right: 60px;
  width: 200px;
}

.col-3 {
  float: left;
  margin-right: 60px;
  width: 330px;
}

.col-4 {
  float: left;
  margin-right: 60px;
  width: 460px;
}

.col-6 {
  float: left;
  margin-right: 60px;
  width: 720px;
}

.section-inner .col-2:last-child,
.section-inner .col-3:last-child,
.section-inner .col-4:last-child,
.section-inner .col-6:last-child {
/* Removing margin on the last column */
  margin-right: 0;
}

.primary {
  margin-bottom: 35px;
  overflow: hidden;
}

.secondary {
  background: #e6e6e6;
  padding: 65px 0 0;
}

body.upcoming-new-releases .secondary {
  padding-bottom: 35px;
}

.tertiary {
  margin-bottom: 50px;
  padding: 65px 0 0;
}

.section-inner {
  margin: 0 auto 45px;
  overflow: hidden;
  width: 1500px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

h2, ul#filters {
  float: left;
}

.dropdown, #toggle-display {
  float: right;
}

.artist-featured, #news, h3, .text {
  clear: left;
}

.section-inner.artists-inner {
  margin-bottom: 0;
}


/* Home
-------------------------------------------------------------- */

/* Filtering artists
-------------------- */
ul#filters {
	padding-bottom: 8px;
}

ul#filters li {
	display:inline;
	font:900 1.3em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	letter-spacing:-1px;
	margin-right:20px;
	text-transform:uppercase;
}

ul#filters li a {
	color:#bbb;
	padding-bottom: 15px;
}

ul#filters li a.active, ul#filters li a.active:hover {
  background: url('../images/images-icons-sprite.svg') no-repeat center -372px;
	color:#333;
}

.no-svg ul#filters li a.active, ul#filters li a.active:hover {
  background: url('../images/images-icons-sprite.png') no-repeat center -372px;
}

ul#filters li a:hover {
  background: transparent;
	color:#333;
}

/* Toggling artists display
-------------------- */
#toggle-display a {
  background: url('../images/images-icons-sprite.svg') no-repeat center -676px;
  display: block;
  float: left;
  filter: alpha(opacity=20);
  opacity: 0.2;
  padding-top: 14px;
  height: 0;
  margin-left: 6px;
  overflow: hidden;
	width: 14px;
}

.no-svg #toggle-display a {
  background: url('../images/images-icons-sprite.png') no-repeat center -676px;
}

#toggle-display a:hover {
  filter: alpha(opacity=40);
  opacity: 0.4;
}

#toggle-display #text-display {
  background-position: center -636px;
}

#toggle-display a.active {
	cursor:default;
	filter: alpha(opacity=100);
	opacity: 1;
}

/* Grid of artists
-------------------- */
body.home .primary {
	filter: alpha(opacity=0);
	opacity: 0;
	/* Need opacity for fading in the grid of artists before preselection */
	margin-bottom: 0;
}

.chrome-Mac .artist-list.image-display, .chrome-Mac .artist-list.text-display {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; 
  transition: all 0.1s ease-in-out;
}

.artist-list .artist {
  background: #181818;
  display: inline-block;
	position:relative;
	float:left;
	overflow:hidden; /*clearfix*/
	padding-bottom: 14.285%;
	width: 14.285%;
}

.artist-list.image-display .artist img {
  bottom: 0;
  height: auto;
  filter: alpha(opacity=100);
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out; 
  transition: opacity 0.1s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -moz-backface-visibility: hidden;
  -moz-transform: translateZ(0) scale(1.0, 1.0);
}

.artist-list .artist p, .releases .release p {
  background: rgba(38, 38, 38, 0.85);	
	bottom:0;
	font:900 1.05em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	margin-bottom: 0;
	padding:13px 15px;
	position:absolute;
	text-align:center;
	text-transform:uppercase;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; 
  transition: all 0.1s ease-in-out;
}

.lt-ie9 .artist-list .artist p, .lt-ie9 .releases .release p {
  background:transparent; /* set bg to url('#') ONLY if you're setting cursor:pointer on this element! */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#d9262626,endColorstr=#d9262626);
  /* Note: the first two digits are the HEX value for opacity, the the rest is the HEX value for the color */
  zoom: 1;
}

.artist-list .artist a, .releases .release a {
	color:#ddd;
}

.artist-list .artist a:hover, .releases .release a:hover {
	color:#fff;
}

.artist-list .artist a:hover img {
  filter: alpha(opacity=75);
  opacity: .75;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out; 
  transition: opacity 0.1s ease-in-out;
}

.artist-list .artist a:hover p, .releases .release a:hover p {
  background: #262626;
  padding-bottom: 30px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out; 
  transition: all 0.1s ease-in-out;
}

.artist-list.text-display {
  margin: 0 auto 50px;
  overflow: hidden;
  width: 95%;
}

.artist-list.text-display .artist {
  background: transparent;
  padding: 0;
  margin-bottom: 35px;
  width: 20%;
}

.artist-list.text-display .artist a {
	color:#404040;
}

.artist-list.text-display .artist a:hover {
	color:#de408f;
}

.artist-list.text-display .artist p {
	background:none;
	font-size: 1.05em;
	position:relative;
	padding:0;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; 
  transition: none;
}

.artist-list.text-display .artist a:hover  p {
	background:none;
	padding:0;
}

.artist-list.text-display .artist img {
  display: none;
}


/* News
-------------------- */
#news {
  background: rgba(46, 46, 46, 0.98);
  bottom: 0;
  color: #fff;
	font:900 1.2em/1.2 'Maven Pro', Helvetica, Arial, sans-serif;
	left: 0;
	letter-spacing:-1px;
	height: 0px;
	position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.news-trigger-container {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -31px;
  height: 20px;
  width: 62px;
}

.news-trigger {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
  cursor: pointer;
	height: 0; 
  left: 50%;
  margin-left: -9px;
  position: absolute;
  top: 18px;
	width: 0; 
}

.news-trigger.news-expanded {
  border-bottom: none;
	border-top: 9px solid #fff;
}

.news-trigger-bg {
  overflow: hidden;
  height: 20px;
  width: 62px;
}

.news-trigger-bg > span {
  display: block;
  background: rgba(46, 46, 46, 0.98);
  border-radius: 31px 31px 0 0;
  cursor: pointer;
  height: 40px;
  width: 62px;
}

.lt-ie9 #news, .lt-ie9 .news-trigger-bg > span {
  background:transparent; /* set bg to url('#') ONLY if you're setting cursor:pointer on this element! */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fa2e2e2e,endColorstr=#fa2e2e2e);
  /* Note: the first two digits are the HEX value for opacity, the the rest is the HEX value for the color */
  zoom: 1;
}

.news-wrapper {
  padding: 40px 0 45px;	
}

.news-content-wrapper {
  width: 85%;
  margin: 0 auto;
}

.news-expanded .news-wrapper {
  height: 100%;
}

.news-post {
  color: #ddd;
	margin-bottom:100px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.news-expanded .news-post {
	margin-bottom:30px;
}

.news-post a {
  color: #ddd;
}

.news-post .date {
  color: #ed5fa6;
  margin-right: 20px;
}

.news-post .type {
  color: #999;
  margin-left: 20px;
  text-transform: none;
}

#pagination {
  margin-top: 35px;
}

#pagination a {
  color: #ed5fa6;
}

.page-numbers {
  margin: 0 5px;
}

/* Artist Landing Pages
-------------------------------------------------------------- */
body.artists .primary, body.tax-artists .primary {
  margin-bottom: 0;
}

/* Artist Detail Page
-------------------------------------------------------------- */
body.single-artist .primary {
  margin-top: -5px;
}

body.single-artist h2 {
  margin-top: 5px;
}

.dropdown {
  background: #e5e5e5 url('../images/images-icons-sprite.svg') no-repeat 125% -463px;
  margin: 0 auto 35px;
  overflow: hidden;
  width: 265px;
}

.no-svg .dropdown {
  background: #e5e5e5 url('../images/images-icons-sprite.png') no-repeat 125% -463px;
}

.dropdown:hover {
  background: #eaeaea url('../images/images-icons-sprite.svg') no-repeat 125% -463px;
}

.dropdown select {
  background: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
  color: #404040;
  cursor: pointer;
	font:900 1em/1 'Maven Pro', Helvetica, Arial, sans-serif;
  outline: none;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 130%;
  -webkit-appearance: none;
}

.dropdown select:focus {
  outline: none;
}

.artist-featured {
  background: #333;
  overflow: hidden;
}

.artist-featured figure {
  float: left;
  max-height: 500px;
  width: 48%;
}

.artist-featured figure img {
  height: auto;
  width: 100%;
}

.artist-info {
  color: #ccc;
  float: left;
  padding: 45px;
  width: 42%;
}

.artist-info a {
  color: #ed5fa6;
}

.artist-info .social-media {
  float: left;
  margin-bottom: 35px;
  width: 56%;
}

.artist-featured .contacts {
  float: right;
  margin-bottom: 35px;
}

.artist-featured .contacts li p {
  margin: 15px 0 0;
}

.social-icon {
  background: #2e2e2e url('../images/images-icons-sprite.svg')  center center;
	border-radius: 29px;
	width:58px;
	height:58px;
	margin:0 5px 5px 0;
	float:left;
}

.no-svg .social-icon {
  background: #2e2e2e url('../images/images-icons-sprite.png')  center center;
}

.social-icon:hover {
  background: #252525 url('../images/images-icons-sprite.svg')  center center;
}

.no-svg .social-icon:hover {
  background: #252525 url('../images/images-icons-sprite.png')  center center;
}

.social-icon.facebook {
  background-position: center -967px;
}

.social-icon.twitter {
  background-position: center -1037px;
}

.social-icon.instagram {
  background-position: center -1192px;
}

.social-icon.youtube {
  background-position: center -1111px;
}

.social-icon.tumblr {
  background-position: center -1495px;
}

.social-icon.google {
  background-position: center -1341px;
}

.social-icon.spotify {
  background-position: center -1416px;
}

.social-icon.itunes {
  background-position: center -1271px;
}

.press-photo,
.album {
  float: left;
  margin: 0 8px 20px 0;
  width: 31%;
}

.logo {
  margin-bottom: 20px;
}

.album {
  width: 43.5%;
}

.albums .album:nth-of-type(odd) {
  clear: left;
}

.press-photo a,
.logo a,
.album a {
  margin-right: 10px;
}

.press-photo img,
.logo img,
.album img {
  display: block;
  height: auto;
  margin-bottom: 8px;
  width: 100%;
}

.logo img {
  width: auto;
}

.press-assets-list {
  margin-top: -6px;
}

.press-assets-list li {
  line-height: 1.6;
  margin-bottom: 20px;
}

.press-assets-list .date {
  color: #555;
  margin-right: 15px;
}

.album p {
  margin-bottom: -2px;
}

.audio {
  margin-bottom: 55px;
}

.track, .video {
  margin-bottom: 30px;
}

.track iframe {
  border: 1px solid #ccc;
  border-radius: 3px;
}

body.single-artist .tour { /* keep this hidden until tour dates available */
	display:none;
}

#tour-dates li {
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.4;
  margin-bottom: 17px;
  padding-bottom: 17px;
}

#tour-dates li:last-child {
  border: none;
}

#tour-dates .date,
#tour-dates .venue,
#tour-dates .location {
  display: inline-block;
  width: 24%;
}

#tour-dates .venue {
  margin: 0 20px;
  width: 38%;
}

#tour-dates .location {
  width: 29%;
}


/* Upcoming Releases Page
-------------------------------------------------------------- */
body.upcoming-new-releases .primary .section-inner {
  margin-bottom: 35px;
}

.releases {
  clear: left;
	overflow:hidden; /*clearfix*/
}

.releases .release {
  background: #181818;
  display: inline-block;
	float:left;
	padding-bottom: 25%;
	position:relative;
	width: 25%;
}

.releases .release img {
  bottom: 0;
  height: auto;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out; 
  transition: opacity 0.1s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  -moz-backface-visibility: hidden;
  -moz-transform: translateZ(0) scale(1.0, 1.0);
}

.releases .release a:hover img {
  filter: alpha(opacity=75);
  opacity: .75;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out; 
  transition: opacity 0.1s ease-in-out;
}

.releases .release p span {
	display:block;
}

.releases .release p {
	padding: 22px;
}

.releases .release .album-date, .releases .release .artist-name {
  font-family: 'Open Sans', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 600;
  letter-spacing: normal;
  margin: 10px 0 15px;
  text-transform: none;
}

.releases .release .artist-name {
  color: #ed5fa6;
  margin: 0;
}


/* About Page
-------------------------------------------------------------- */
body.about .primary {
  margin-bottom: -10px;
}

body.about h2 {
  margin-bottom: 50px;
}

body.about h3 {
  line-height: 1.5;
}

body.about .text {
  font-size: 1.1em;
}

p.address {
  margin-top: -6px;
}

body.about .social-icon {
  background: #d9d9d9 url('../images/images-icons-sprite.svg')  center center;
	border-radius: 29px;
	width:58px;
	height:58px;
	margin:0 5px 5px 0;
	float:left;
}

.no-svg body.about .social-icon {
  background: #d9d9d9 url('../images/images-icons-sprite.png')  center center;
}

body.about .social-icon:hover {
  background: #d0d0d0 url('../images/images-icons-sprite.svg')  center center;
}

.no-svg body.about .social-icon:hover {
  background: #d0d0d0 url('../images/images-icons-sprite.png')  center center;
}

body.about .social-icon.facebook {
  background-position: center -1596px;
}

body.about .social-icon.twitter {
  background-position: center -1667px;
}

body.about .social-icon.instagram {
  background-position: center -1735px;
}


/* Contact Page
-------------------------------------------------------------- */
body.contact h2 {
  margin-bottom: 50px;
}



/* Footer
-------------------------------------------------------------- */
footer {
	background:#141414;
	color:#ddd;
	text-align: center;
	width:100%;
}

footer .section-inner {
	padding-top: 75px;
}

.footer-links {
  margin-bottom: 50px;
}

.footer-links li, .credits {
  color: #666;
	font:700 1.2em/1 'Maven Pro', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-links li a, .credits a {
  color: #666;
}

.footer-links li a:hover, .credits a:hover {
  color: #888;
}

.copyright {
  background: url('../images/images-icons-sprite.svg') no-repeat center -98px;
	font:900 1.4em/1 'Maven Pro', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	margin-bottom: 50px;
  padding-top: 42px;
  text-transform: uppercase;
}

.no-svg .copyright {
  background: url('../images/images-icons-sprite.png') no-repeat center -98px;
}

.copyright p {
  margin-bottom: 6px;
}


/* =====================================================
   Media Queries
   ===================================================== */

/* Viewports less than 1520px wide
   Target/actual width: 1246
--------------------------------------------- */

@media screen and (max-width: 1520px) {

/* Structure
-------------------- */
.col-2 {
  margin-right: 50px;
  width: 166px;
}

.col-3 {
  margin-right: 50px;
  width: 274px;
}

.col-4 {
  margin-right: 50px;
  width: 382px;
}

.col-6 {
  margin-right: 50px;
  width: 598px;
}

.section-inner {
  width: 1246px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out;
}

/* Grid of artists
-------------------- */
.artist-list .artist {
	padding-bottom: 16.666%;
	width: 16.666%;
}

} /* closing media queries section */

/* =====================================================
   Viewports less than 1260px wide
   Target width: 1024, Actual: 980
   ===================================================== */

@media screen and (max-width: 1260px) {

/* Structure
-------------------- */
.col-2 {
  margin-right: 30px;
}

.col-3 {
  margin-right: 30px;
  width: 240px;
}

.col-4 {
  margin-right: 30px;
  width: 240px;
}

.col-6 {
  margin-right: 40px;
  width: 470px;
}

.section-inner {
  width: 980px;
}

/* Grid of artists
-------------------- */
.artist-list .artist {
	padding-bottom: 20%;
	width: 20%;
}

/* Artist detail page
-------------------- */
.artist-featured figure {
  float: none;
  max-height: 480px;
  overflow: hidden;
  width: 100%;
}

.artist-info {
  float: none;
  overflow: hidden;
  padding: 40px 40px 0;
  width: 900px;
}

.artist-info .social-media {
  width: 435px;
}

.artist-featured .contacts {
  float: left;
  margin-right: 20px;
  width: 210px;
}

.artist-featured .website {
  float: right;
  width: 210px;
}

.press-photo, .album {
  width: 46%;
}

/* Upcoming/New Releases page
--------------------------- */
.releases .release {
	padding-bottom: 33.333%;
	width: 33.333%;
}

/* About page
--------------------------- */
body.about .secondary .section-inner .col-3:first-child,
body.about .secondary .section-inner .col-3:last-child {
  width: 205px;
}

} /* closing media queries section */



/* =====================================================
   Viewports and tablets less than 980px wide
   Target width: 768
   ===================================================== */

@media screen and (max-width: 995px) {

/* Structure
-------------------- */
.col-2 {
  float: none;
  margin: 0 0 40px 0;
  overflow: hidden;
  width: 100%;
}

.col-3 {
  float: none;
  margin-bottom: 40px;
  margin-right: 0;
  width: 100% !important;
}

.col-4 {
  float: none;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
}

.col-6 {
  margin-right: 0;
  width: 99%;
}

.section-inner .col-6:first-child {
  margin-bottom: 40px;
}

.section-inner {
  width: 92%;
}

/* Top of content */
#main {
  margin-top: 40px;
}

/* Header
-------------------- */
header {
  padding-top: 30px;
  position: relative;
}

header .section-inner {
  height: 55px;
}

/* Nav
-------------------- */
#nav-trigger {
  cursor: pointer;
  display: block;
  float: right;
  width: 25px;
}

#nav-trigger span {
  background: #3a3a3a;
  display: block;
  height: 4px;
  margin-bottom: 4px;
}

#nav-close {
  background: url('../images/images-icons-sprite.svg') no-repeat center -1892px;
  color: #ccc;
  cursor: pointer;
  display: block;
	font:900 1.4em/1 'Maven Pro', Helvetica, Arial, sans-serif;
  height: 18px;
  position: absolute;
  right: 34px;
  top: -80px;
  width: 18px;
  z-index: 1000;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.no-svg #nav-close {
  background: url('../images/images-icons-sprite.png') no-repeat center -1892px;
}

#nav-close.menu-expanded {
  top: 39px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.no-touch #nav-close.menu-expanded.scrolled {
  top: 22px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

nav {
  /*background: rgba(215, 62, 139, 0.97);*/
  background: rgba(243, 243, 243, 0.97);
  border-top: 5px solid #cf3783;
  border-bottom: 1px solid #dadada;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 178px;
  top: -210px;
  left: 0;
  text-align: right;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  z-index: 999;
  /*-moz-box-shadow:    0 -6px 20px 0 #000;
  -webkit-box-shadow: 0 -6px 20px 0 #000;
  box-shadow:         0 -6px 20px 0 #000;*/
}

.no-touch nav.nav-expanded {
  height: 188px;
}

.no-touch nav.scrolled {
  height: 123px;
}

nav.menu-expanded {
  top: 0;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

nav li {
  margin-left: 22px;
}

.menu-primary-container {
  padding-top: 34px;
  position: relative;
  margin: 0 auto;
  width: 538px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.no-touch .menu-primary-container.scrolled {
  padding-top: 20px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.sub-menu {
  left: 72px;
  padding: 0;
  text-align: left;
  top: 60px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.no-touch .sub-menu.scrolled {
  top: 43px;
  -webkit-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -moz-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -ms-transition: all 300ms cubic-bezier(.4,.04,.93,.1); 
  -o-transition: all 300ms cubic-bezier(.4,.04,.93,.1);
  transition: all 300ms cubic-bezier(.4,.04,.93,.1);
}

.sub-menu li {
  margin-bottom: 3px;
}


/* FOR GRAY */
nav li a:link, nav li a:visited, nav li a:active {
  color: #9e9e9e;
}

nav li a:hover, nav li.current-menu-item > a, nav li.current-menu-parent > a, body.artists nav li.menu-item-has-children > a, body.single-artist nav li.menu-item-has-children > a {
  color: #333;
}


/* FOR PINK
nav li a:link, nav li a:visited, nav li a:active {
  color: #222;
}

nav li a:hover, nav li.current-menu-item > a, nav li.current-menu-parent > a, body.artists nav li.menu-item-has-children > a, body.single-artist nav li.menu-item-has-children > a {
  color: #fff;
} */



nav li.menu-item-has-children > a {
  background: none;
  padding: 0;
}

/* Grid of artists
-------------------- */
#toggle-display {
  margin-top: 6px;
}

ul#filters li {
  font-size: 1.1em;
  margin-right: 15px;
}

.artist-list .artist {
	padding-bottom: 33.333%;
	width: 33.333%;
}

.artist-list.text-display .artist {
  margin-bottom: 25px;
  width: 33.333%;
}

/* Artist detail page
-------------------- */
.artist-info {
  float: none;
  overflow: hidden;
  width: 91%;
}

.artist-info .social-media {
  margin-right: 0;
  width: 90%;
}

.artist-featured .contacts {
  width: 50%;
}

.artist-featured .website {
  float: left;
  margin-bottom: 35px;
  width: 45%;
}

.logo {
  float: left;
  margin: 0 15px 0 0;
}

.press-photo, .album {
  margin: 0 15px 20px 0;
  width: 145px;
}

.albums .album:nth-of-type(odd) {
  clear: none;
}

/* Upcoming/New Releases page
--------------------------- */
.releases .release {
	padding-bottom: 50%;
	width: 50%;
}

/* About page
--------------------------- */
body.about .logos {
  overflow: hidden;
}

} /* closing media queries section */



/* =====================================================
   Mobile devices less than 768px wide
   Target width: 480
   ===================================================== */

@media screen and (max-width: 765px) {

#page {
  font-size: 1.4em;  
}

.section-inner {
  margin-bottom: 15px;
  width: 90%;
}

.primary {
  margin-bottom: 20px;
}

.secondary {
  padding-top: 40px;
}

.tertiary {
  margin-bottom: 20px;
  padding-top: 40px
}

h2, h3, h4, h5 {
  margin-bottom: 25px;
}

.artist-info .contacts h3, .artist-info .website h3 {
  margin-bottom: 10px;
}

body.about h2,
body.contact h2 {
  margin-bottom: 20px;
}

#main {
  margin-top: 25px;
}

/* Logo, Nav
--------------------------- */
header {
  padding-top: 20px;
}

header .section-inner {
  height: 40px;
  margin-bottom: 12px;
}

#site-title {
  overflow: hidden;
  width: 130px;
}

#logo a {
  padding-top: 36px;
  width: 220px;
}

nav {
  font-size: 18px;
}

#nav-trigger span {
  height: 3px;
}

/* Home, Artist Landing(s)
--------------------------- */
body.home #toggle-display {
  margin-bottom: 10px;
}

ul#filters {
  float: none;
  margin: 0 auto 12px;
  text-align: center;
  width: 99%;
}

ul#filters li {
  font-size: 1em;
  margin-right: 10px;
}

ul#filters li a {
  padding-bottom: 10px;
}

ul#filters li a.active, ul#filters li a.active:hover {
  background-position: center -377px;
}

ul#filters li a:hover {
  color: #333;
}

#toggle-display {
  float: none;
  margin: 0 auto 25px;
  overflow: hidden;
  width: 42px;
}

.artist-list .artist {
  padding-bottom: 50%;
  width: 50%;  
}

.artist-list.text-display .artist {
  margin-bottom: 20px;
  width: 100%;  
}

.artist-list.text-display {
  margin-bottom: 15px;
}

#news {
  font-size: 1.1em;
  height: auto !important;
  min-height: 350px;
  position: relative;
}

.news-wrapper {
  padding: 35px 0;
}

.news-trigger-container {
  display: none;
}

.news-post {
  margin-bottom: 25px;
}

#news h3 {
  margin-bottom: 20px;
}

.news-post .date, .news-post .type {
  display: block;
  margin: 0 0 2px;
}

.artist-featured figure {
  max-height: 400px;  
}

.artist-info {
  width: 86%;
}

.artist-info .social-media {
  width: 100%;
}

/* Nav
--------------------------- */
.menu-primary-container {
  padding-top: 65px;
  width: 100%;
}

nav {
  height: 1000px;
  text-align: center;
  top: -1005px;
}

.no-touch nav.nav-expanded {
  height: 1000px;
}

nav li {
  display: block;
  margin: 0 0 20px 0;
}

.sub-menu {
  margin-top: 10px;
  position: static;
  text-align: center;
}

#nav-close {
  right: 28px;
}

/* Floats/Centering/Artist Detail
--------------------------- */
h2, .dropdown {
  float: none;
}

h2, h3, .artist-info {
  text-align: center;
}

body.about .primary h3 {
  text-align: left;
}

/* Artist Detail, About
--------------------------- */
.dropdown {
  margin-bottom: 30px;
}

.artist-info {
  padding: 20px 20px 0;
}

.artist-featured .contacts, .artist-featured .website {
  float: none;
  width: 100%;
}

.press-photo, .album {
  float: none;
  margin: 0 auto 20px;
  width: 50%;
}

.logo {
  float: none;
  margin: 0 auto 20px;
}

.logo img {
  margin: 0 auto 8px;  
}

.section-inner .col-6:first-child {
  margin-bottom: 20px;
}

.audio {
  margin-bottom: 35px;
}

body.single-artist .secondary, body.about .secondary, body.contact .primary {
  text-align: center;
}

/* Upcoming/New Releases page
--------------------------- */
.releases .release {
	padding-bottom: 100%;
	width: 100%;
}

/* About page
--------------------------- */
.social-links {
  margin: 0 auto;
  overflow: hidden;
  width: 192px;
}

/* Footer
--------------------------- */
footer, .push {
  height: 372px;
}

#page {
  margin-bottom: -372px;
}

body.home #page {
  margin-bottom: -372px !important;  
}

footer .section-inner {
  padding-top: 45px;
}

.footer-links {
  margin-bottom: 35px;
}

.copyright {
  font-size: 1.2em;
  line-height: 1.2;  
  margin-bottom: 35px;
}

} /* closing media queries section */


/* =====================================================
   Mobile devices less than 480px wide
   Target width: 320
   ===================================================== */

@media screen and (max-width:505px) {

#nav-close {
  right: 17px;
}

body.home .primary .section-inner {
  margin-bottom: 0;
}

ul#filters {
  /*border: 1px solid #d4d4d4;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 9px 0 4px;
  width: 70%;*/
  display: none;
}

ul#filters::after {
  content: "";
  background: url('../images/images-icons-sprite.png') no-repeat center -400px;
  position: absolute;
  top: 99px;
  height: 15px;
  width: 15px;
  left: 50%;
  margin-left: -7px;
}

ul#filters li {
  display: block;
  margin: 0 0 7px;  
}

ul#filters li a, ul#filters li a.active, ul#filters li a.active:hover {
  background: none;
}

ul#filters li a.active, ul#filters li a.active:hover {
  background: none;
  color: #cf3783;
}

#toggle-display {
  display: none;
}

.artist[data-filter="washington-square"],
.artist[data-filter="razor-tie-kids"] {
/* Forcing artists to be shown, without filter */
  display: block !important;
}

.artist-list.image-display {
  margin: 0 auto 20px;
  overflow: hidden;
  width: 95%;
}

.artist-list.image-display .artist {
  background: transparent;
  padding: 0;
  margin-bottom: 12px;
  width: 100%;
}

.artist-list.image-display .artist a {
	color:#404040;
}

.artist-list.image-display .artist a:hover {
	color:#de408f;
}

.artist-list.image-display .artist p {
	background:none;
	font-size: 1.05em;
	position:relative;
	padding:0;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none; 
  transition: none;
}

.artist-list.image-display .artist a:hover  p {
	background:none;
	padding:0;
}

.artist-list.image-display .artist img {
  display: none;
}

.artist-featured figure {
  max-height: 250px;  
}

#tour-dates .venue, #tour-dates .location {
  width: 30%;
}

/* Footer/page height */
body.home #page {
  margin-bottom: -372px !important; /* the bottom margin is the negative value of the footer's height */;
}

body.home footer, body.home .push {
  height: 372px; /* .push must be the same height as footer */
}


} /* closing media queries section */